<mat-card>
  <form
    novalidate
    #formDirective="ngForm"
    [formGroup]="newTodoForm"
    (ngSubmit)="onAdd(formDirective)"
  >
    <mat-card-header> Create a new todo </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Enter new todo here"
        />
        <mat-error *ngIf="newTodoForm.get('description').hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Create</button>
    </mat-card-actions>
  </form>
</mat-card>
